# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

# Backend
backend/__pycache__/
backend/*.pyc
backend/*.h5
backend/*.csv
backend/.env

# General
*.log
.DS_Store
.vscode/
